html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.container {
	max-width: 960px;
}

.pricing-header {
	max-width: 700px;
}

.card-deck .card {
	min-width: 220px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

body {
	background-color: #b6b9e6;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	min-width:340px;
	margin: 0;
	padding: 0;
	color: #fffaa;
	line-height: 1.25;
	background-image: url(https://wpapers.ru/wallpapers/All/12612/1920x1080_%D0%A2%D0%B5%D0%BA%D1%81%D1%82%D1%83%D1%80%D0%B0-%D1%84%D0%B8%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2%D0%BE%D0%B3%D0%BE-%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D0%B0.jpg);
}
	
.box {
	padding: 20px 20px;
	box-sizing: border-box;
	background-color: #b6b9e6;
	width: 100%;
  
}